* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;


}

html,
body {
    touch-action: none;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    background-color: #11E07D;
}


#image {
    visibility: hidden;
    position: absolute;
}

#inputImage {
    display: none;
}

#slideshowContainer {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;

}

#btnContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#analysing {
    visibility: hidden;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#analysingCaption{
    margin-top: 30px;
    color: #11E07D;
    font-size: 3em;
    font-family: 'Inter', sans-serif;

}

.loader {
    width: 100px;
    height: 100px;
    border: 10px solid #11E07D;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
  }
  .loader:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid #11E07D;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
  }
  
  @keyframes scaleUp {
    0% { transform: translate(-50%, -50%) scale(0) }
    60% , 100% { transform: translate(-50%, -50%)  scale(1)}
  }
  @keyframes pulse {
    0% , 60% , 100%{ transform:  scale(1) }
    80% { transform:  scale(1.2)}
  }


#proceedBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100px;
    border-radius: 35px;
    width: 80%;
    height: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(255, 255, 255);
}

#proceedBtn p {
    color: #11E07D;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    font-size: 3.5em;
}

.slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tip {
    font-size: 9em;
    font-weight: 900;
    color: white;
    font-family: 'Inter', sans-serif;
}

h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 4em;
    font-weight: 800;
    letter-spacing: 5px;
}

#timelineContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 80%;
    margin-top: 80px;
}



.tl {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    flex: 1;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#timeline3,
#timeline2,
#timeline1 {
    opacity: 0;
    border-radius: 15px;
    transition: width 5s linear;
    background-color: white;
    width: 0%;
    height: 100%;
}